# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.
##INITIAL SETTINGS##
[include macros.cfg]
[include timelapse.cfg]
[include KAMP_Settings.cfg]

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

[display_status]

[pause_resume]

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
# cs_pin: PA12
# sclk_pin: PA13
# sid_pin: PC15
# encoder_pins: ^PD14, ^PD10
# click_pin: ^!PB2
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2

[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 9
position_min: 9
position_max: 255
homing_speed: 50
# ================================================================================
[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 10
position_min: 10
position_max: 240
homing_speed: 50
# ================================================================================
[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
#endstop_pin: ^PA7
endstop_pin: probe:z_virtual_endstop
position_max: 240
position_min:-5
# ================================================================================
[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
#rotation_distance: 33.683
rotation_distance: 22.000
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
min_temp: 0
max_temp: 250
# ================================================================================
[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130
# ================================================================================
[fan]
pin: PA0
# ================================================================================
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command
# ================================================================================
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
# ================================================================================
# Pin mappings for BL_T port
[bltouch]
sensor_pin: ^PB1
control_pin: PB0
pin_up_touch_mode_reports_triggered: False
probe_with_touch_mode: True
#z_offset = 3.035
# z_offset = 3.035 ##-- 15/03/2024
x_offset: -43
y_offset: -7
speed: 10
samples: 2
samples_result: median
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
samples_tolerance: 0.01
# ================================================================================
[safe_z_home]
#home_xy_position: 165, 130 # Change coordinates to the center of your print bed
home_xy_position: 167,137 # Change coordinates to the center of your print bed
speed: 50
z_hop: 10                 # Move up 10mm
z_hop_speed: 5
# ================================================================================
[bed_mesh]
speed: 150
horizontal_move_z: 7
mesh_min: 50, 50
mesh_max: 180, 220
probe_count: 4, 3
# ================================================================================
[gcode_arcs]
resolution = 1.0
# ================================================================================
[menu __main  __octoprint __poweroff]
type: command
#enable: !toolhead.is_printing
name: Turn off Octopi
gcode:
    {action_respond_info('action:poweroff')}
# ================================================================================    
[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6
# ================================================================================
# Use SCREWS_TILT_CALCULATE command
[screws_tilt_adjust]
screw1: 84,60
screw1_name: front left screw
screw2: 255, 60
screw2_name: front right screw
screw3: 255, 233
screw3_name: rear right screw
screw4: 84,233
screw4_name: rear left screw
screw_thread: CW-M4
speed: 200
# ================================================================================
[firmware_retraction]
retract_length: 0.8
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.110
#*# pid_ki = 1.878
#*# pid_kd = 137.269
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.305
#*# pid_ki = 1.074
#*# pid_kd = 1117.543
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.057500, 0.031250, -0.047500, -0.016250
#*# 	0.030000, 0.036250, -0.012500, 0.056250
#*# 	0.033750, 0.008750, -0.053750, -0.015000
#*# x_count = 4
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 179.99
#*# min_y = 50.0
#*# max_y = 220.0
#*#
#*# [bltouch]
#*# z_offset = 4.360
